aniso8601==10.0.0
blinker==1.9.0
certifi==2025.1.31
charset_normalizer==3.4.1
click==8.1.8
flask==3.1.0
flask_cors==5.0.1
Flask_RESTful==0.3.10
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.5
MarkupSafe==3.0.2
pytz==2025.1
requests==2.32.3
six==1.17.0
urllib3==2.3.0
werkzeug==3.1.3
